

 body{
  background: #f3e9ed;
  } 

/* ------------------------------------------------------------------
              /* Home */
/* ------------------------------------------------------------------ */
/* Header Background Image */
/* .header-content {
  background: url(/images/home-banner.png);
  background-size: 100%;
  background-repeat: no-repeat; */
  /* min-height: 100vh; */
  /* min-width: 100vw; */
  /* background-size: cover; */
/* }

.name {
  font-size: 3em;
  font-family: 'Great Vibes';
  font-weight:bold;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: .5em;
}

nav a {
  color: black;
  font-size: 1.2em;
  padding: .5em ;
  text-decoration:none;
  font-family: 'Spartan';
}

nav a:hover{
  background:black;
  color:palevioletred;
  border-radius: .5em;
}

nav i {
  color: black;
}

nav i:hover{
  color:pink;
} */

/* Arrows  */
/* .down-button {
  text-align:center;
  margin-top: 40em;
}

.down-btn-color {
  color: black;
  font-size: 3em;
}

.down-btn-color:hover{
  color: palevioletred;
}  */

/* ------------------------------------------------------------------ */
              /* About Me */
/* ------------------------------------------------------------------ */
/* Entire Page View */
/* .about-section { */
  /* min-height: 100vh; */
  /* margin-bottom: 10em;
}

.about-name {
  font-size:2em;
  font-family:  'Spartan', sans-serif;
  padding: 2em;
} */


/* Flex For <p> & <img> */
/* .parent-to-blurbs {
  margin: 0em 5em 1em 5em;
  display: flex;
  justify-content: center;
} */

/* Left Paragraph */
/* .left-blurb {
  text-align: left; */
  /* margin-right: 2em; */
  /* flex: 1; */
  /* margin-left: 2em;
  background: rgba(255,182,193, .15 );
  border-radius: .5em;
  padding: 0em 1em 0em 1em;
  font-family: 'Lato';
  max-width: 30em;
  
}

.profile-pic {
  width: 20em;
  height:20em;
  border-radius: .65em;
} */

/* Right Paragraph */
/* .right-blurb {
  text-align:left;
  flex: 1;
  margin-left:2em;
  flex-wrap: wrap;
  background: rgba(255,182,193, .15 );
  border-radius: .5em;
  padding: 0em 1em 0em 1em;
  font-family:'Lato';
} */


/* .arrow-to-skills{
  text-align:center;
}
  
.skills-arrow{
  color:black;
  font-size:3em;
}

.skills-arrow:hover{
  color:palevioletred;
} */

/* ------------------------------------------------------------------ */
              /* Skills */
/* ------------------------------------------------------------------ */

/* .skills-icons {
  width: 25em;
} */

/* Entire Page View */
/* .skills { */
  /* min-height: 100vh; */
/* }

.skills-banner{
  width:100vw;
}

.skills-section{
  display:flex;
  justify-content: space-evenly;
  margin-bottom: 8em;
}

h3 {
  font-size: 2em;
  text-align: center;
}

ul {
  list-style-type: none;
  font-size: 1.5em;
  text-align: left;
} */

/* arrow down to portfolio section */
/* .arrow-to-portfolio{
  text-align:center;
  margin-top: 8em;
}

.port-arrow{
  color:black;
  font-size:3em;
}

.port-arrow:hover{
  color:palevioletred;
} */


/* ------------------------------------------------------------------ */
              /* Portfolio */
/* ------------------------------------------------------------------ */
/* Entire Page View */
/* .portfolio-section {
  min-height:100vh;
} */

/* Portfolio Header <img> */
/* .port-banner {
  margin-bottom: 10em;
  width:100vw;
} */

/* Projects Flex Container */
/* .projects-div {
  display:flex;
  margin-bottom:5em;
  margin-left:5em;
  justify-content: space-around;
} */

/* Individual projects */
/* .project {
flex: 1;
background: #f3e9ed;
padding: 1em;
margin:1em;
font-family: 'Lato'
} */

/* Project Title */ 
/* .port-h2 {
text-align:center;
} */

/* Images */
/* .portfolio-img {
  width: 25em;
  height:18em;
  border-radius: .65em;
} */

/* Links GitHub + Demo */
/* .demo-links {
  color:white;
  padding:1em;
  background:black;
  border-radius: .5em; */
  /* text-align:left; */
  /* text-decoration:none; */
  /* background: rgba(255,182,193, .4 ); */
/* }

.demo-links:hover {
  color:black;
  background:white;
  padding:1em;
}

.link-box {
  text-align:center;
} */

/* Description Paragraph */
/* .description {
  padding-top:1em;
  text-align:center;
} */

/* Skills Used */
/* .port-skills {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}


.arrow-to-contact{
  text-align:center;

}
  
.contact-arrow{
  color:black;
  font-size:3em;
}

.contact-arrow:hover{
  color:palevioletred;
} */


/* ------------------------------------------------------------------ */
              /* Contact */
/* ------------------------------------------------------------------ */
/* Entire Page View */
/* .contact-section { */
  /* min-height:100vh; */
/* } */
/* Contact Icons */
/* .contact-div{
  text-align:center; */
  /* padding: 8em; */
  /* background: rgba(255,182,193, .15 );
  border-radius: .5em;
  width: 90%; */
/* } */

/* .connect-text {
  font-family: 'Lato';
  font-size: 1.2em;
  padding: 1em;
} */

/* Icons */
/* .contact-icon {
  font-size: 3em;
  color: palevioletred;
  padding: .5em;
}

.contact-icon:hover {
  color:black;
} */
/* Arrow Back To Top */
/* .arrow-to-home{
  text-align:center;
  margin-top: 7em; */
  /* font-family: 'Lato'; */
/* }
  
.home-arrow{
  color:black;
  font-size:3em;
}

.home-arrow:hover {
  color: palevioletred;
}
*/


footer {
  text-align: center;
  font-family: 'Lato';
}

 



/* ------------------------------------------------------------------ */
              /* Mobile */
/* ------------------------------------------------------------------ */
/* @media screen and (max-width:600px){ */
  /* Home */
/* .nav{
flex-direction: column;
 min-width: 100vw; */
 /* background:white; */

/* } */

  /* About */
  /* .parent-to-blurbs{
    flex-direction:column;
    justify-content: center;
    min-width: 30em;
  }
.profile-pic{
  justify-content: center;
} */

  /* Skills */
  /* .skills-section{
    flex-direction: column;
  } */
  /* Portfolio */
/* .projects-div {
  flex-direction:column;
} */

  /* Contact */
/* } */