body{
background: #f3e9ed;
}

/* ------------------------------------------------------------------ */
              /* Home */
/* ------------------------------------------------------------------ */
/* Header Background Image */
.header-content {
  background: url(/images/dream-plan-do.png);
  background-size: 100%;
  background-repeat: no-repeat;
  /* min-height: 60em; */
  /* margin-bottom: 5em; */
  min-height: 100vh;
}




nav a {
  color:black;
  font-size: 1.5em;
  padding:.5em;
  text-decoration:none;
}

nav a:hover{
  background:white;
  color:black;
}

/* Big Name */
/* .name-or-slogan {
  margin-top: 4em;
  color:white;
  font-size: 5em;
  text-align:center;
  font-family: 'Abril Fatface', cursive;
} */
/* Slogan */
/* .slogan {
  color:white;
  text-align:center;
  font-size: 2em;
} */

/* Arrows  */
.down-button {
  text-align:center;
  margin-top: 50em;
}

.down-btn-color {
  /* color:white; */
  color: black;
  font-size: 3em;
}


/* ------------------------------------------------------------------ */
              /* About Me */
/* ------------------------------------------------------------------ */
/* Banner Image */
.abt-banner{
  width:100vw;
  margin-bottom: 10em;
}

/* Entire Page View */
.about-section {
  min-height: 100vh;
}

/* Flex For <p> & <img> */
.parent-to-blurbs {
  margin: 0em 5em 1em 5em;
  display: flex;
  font-family: 'Lato', sans-serif;
}

/* Left Paragraph */
.left-blurb {
  text-align: right;
  margin-right: 2em;
  flex: 1;
  background: rgba(255,182,193, .15 );
  border-radius: .5em;
  padding: 0em 1em 0em 1em;
}

.profile-pic {
  width: 20em;
  height:20em;
  border-radius: .65em;
}

/* Right Paragraph */
.right-blurb {
  text-align:left;
  flex: 1;
  margin-left:2em;
  flex-wrap: wrap;
  background: rgba(255,182,193, .15 );
  border-radius: .5em;
  padding: 0em 1em 0em 1em;
}

/* arrow down to portfolio section */
.arrow-to-portfolio{
  text-align:center;
  margin-top:12em;
}

.port-arrow{
  color:black;
  font-size:3em;
}

/* ------------------------------------------------------------------ */
              /* Portfolio */
/* ------------------------------------------------------------------ */
/* Entire Page View */
.portfolio-section {
  /* background:paleturquoise; */
  min-height:100vh;
}

/* Portfolio Header <img> */
.port-banner {
  margin-bottom: 10em;
  width:100vw;
}

/* Projects Flex Container */
.projects-div {
  display:flex;
  margin-bottom:8em;
  margin-left:5em;
  justify-content: space-around;
}

/* Individual projects */
.project {
flex: 1;
}

/* Images */
.portfolio-img {
  width: 25em;
  height:18em;
  border-radius: .65em;
}

/* Description Paragraph */
.description {
  max-width: 90%;
  text-align: left;
}

/* demo + github links */
.demo-links {
  color:black;
  padding:1em;
  /* background:pink; */
  border-radius: .5em;
  /* text-align:left; */
  text-decoration:none;
  background: rgba(255,182,193, .4 );
}

.demo-links:hover {
  color:white;
  background:black;
  padding:1em;
}

.link-box {
  text-align:center;
}

.arrow-to-skills{
  text-align:center;
}
  
.skills-arrow{
  color:black;
  font-size:3em;
}

/* ------------------------------------------------------------------ */
              /* Skills */
/* ------------------------------------------------------------------ */

.skills-icons {
  width: 25em;
}

/* Entire Page View */
.skills {
  min-height: 100vh;
}

.skills-banner{
  width:100vw;
}

.skills-section{
  display:flex;
  justify-content: space-evenly;
  margin-bottom: 8em;
}

h3 {
  font-size: 2em;
  text-align: center;
}

ul {
  list-style-type: none;
  font-size: 1.5em;
  text-align: left;
}
.arrow-to-contact{
  text-align:center;

}
  
.contact-arrow{
  color:black;
  font-size:3em;

}



/* ------------------------------------------------------------------ */
              /* Contact */
/* ------------------------------------------------------------------ */
/* Entire Page View */
.contact-section {
  /* background:palevioletred; */
  min-height:100vh;
}

/* Header Img */
.contact-banner {
  margin-bottom: 5em;
  width: 100vw;
}
/* contact div container */
.contact-div {
  display: flex;
  justify-content: space-evenly;
}
/* Contact Form */
.left-contact {
  padding: 4em;
  background: rgba(255,182,193, .15 );
  border-radius: .5em;
}
/* Contact Icons */
.right-contact{
  /* border: solid; */
  text-align:center;
  display: flex;
  flex-direction: column;
  padding: 8em;
  background: rgba(255,182,193, .15 );
  border-radius: .5em;
}

/* Form */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form Input & Label */
input, textarea {
  border: none;
  border-radius: .25em;
  /* background:pink; */
  background: #f3e9ed;
  padding: .5em;
  margin: .5em;
}

label {
  font-weight: bold;
}

button {
  color:white;
  background-color: black;
  border: none;
  padding: 1em;
  margin:1em;
  border-radius: .5em;
  font-size: 1em;
}

/* Icons */
.contact-icon {
  font-size: 3em;
  color:black;
  padding: .5em;
}

/* Arrow Back To Top */
.arrow-to-home{
  text-align:center;
  margin-top: 5em;
}
  
.home-arrow{
  color:black;
  font-size:3em;
}




footer {
  text-align: center;
}

