body{
background: #f3e9ed;
}

/* ------------------------------------------------------------------ */
              /* Home */
/* ------------------------------------------------------------------ */
/* Header Background Image */
.header-content {
  background: url(/images/dream-plan-do.png);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.name {
  font-size: 3em;
  font-family: 'Great Vibes';
  font-weight:bold;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: .5em;
}

nav a {
  color:black;
  font-size: 1.2em;
  padding: .5em ;
  text-decoration:none;
  font-family: 'Spartan';
}

nav a:hover{
  background:black;
  color:white;
  border-radius: .5em;
}

/* Arrows  */
.down-button {
  text-align:center;
  margin-top: 40em;
}

.down-btn-color {
  color: black;
  font-size: 3em;
}


/* ------------------------------------------------------------------ */
              /* About Me */
/* ------------------------------------------------------------------ */
/* Entire Page View */
.about-section {
  min-height: 100vh;
}

.about-name {
  font-size:2em;
  font-family:  'Spartan', sans-serif;
  padding: 2em;
}


/* Flex For <p> & <img> */
.parent-to-blurbs {
  margin: 0em 5em 1em 5em;
  display: flex;
}

/* Left Paragraph */
.left-blurb {
  text-align: right;
  margin-right: 2em;
  flex: 1;
  background: rgba(255,182,193, .15 );
  border-radius: .5em;
  padding: 0em 1em 0em 1em;
  font-family: 'Lato';
}

.profile-pic {
  width: 20em;
  height:20em;
  border-radius: .65em;
}

/* Right Paragraph */
.right-blurb {
  text-align:left;
  flex: 1;
  margin-left:2em;
  flex-wrap: wrap;
  background: rgba(255,182,193, .15 );
  border-radius: .5em;
  padding: 0em 1em 0em 1em;
  font-family:'Lato';
}


.arrow-to-skills{
  text-align:center;
}
  
.skills-arrow{
  color:black;
  font-size:3em;
}

/* ------------------------------------------------------------------ */
              /* Skills */
/* ------------------------------------------------------------------ */

.skills-icons {
  width: 25em;
}

/* Entire Page View */
.skills {
  min-height: 100vh;
}

.skills-banner{
  width:100vw;
}

.skills-section{
  display:flex;
  justify-content: space-evenly;
  margin-bottom: 8em;
}

h3 {
  font-size: 2em;
  text-align: center;
}

ul {
  list-style-type: none;
  font-size: 1.5em;
  text-align: left;
}

/* arrow down to portfolio section */
.arrow-to-portfolio{
  text-align:center;
  margin-top: 8em;
}

.port-arrow{
  color:black;
  font-size:3em;
}


/* ------------------------------------------------------------------ */
              /* Portfolio */
/* ------------------------------------------------------------------ */
/* Entire Page View */
.portfolio-section {
  min-height:100vh;
}

/* Portfolio Header <img> */
.port-banner {
  margin-bottom: 10em;
  width:100vw;
}

/* Projects Flex Container */
.projects-div {
  display:flex;
  margin-bottom:5em;
  margin-left:5em;
  justify-content: space-around;
}

/* Individual projects */
.project {
flex: 1;
background: #f3e9ed;
padding: 1em;
margin:1em;
font-family: 'Lato'
}

/* Project Title */ 
.port-h2 {
text-align:center;
}

/* Images */
.portfolio-img {
  width: 25em;
  height:18em;
  border-radius: .65em;
}

/* Links GitHub + Demo */
.demo-links {
  color:white;
  padding:1em;
  background:black;
  border-radius: .5em;
  /* text-align:left; */
  text-decoration:none;
  /* background: rgba(255,182,193, .4 ); */
}

.demo-links:hover {
  color:black;
  background:white;
  padding:1em;
}

.link-box {
  text-align:center;
}

/* Description Paragraph */
.description {
  padding-top:1em;
  text-align:center;
}

/* Skills Used */
.port-skills {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}


.arrow-to-contact{
  text-align:center;

}
  
.contact-arrow{
  color:black;
  font-size:3em;
}



/* ------------------------------------------------------------------ */
              /* Contact */
/* ------------------------------------------------------------------ */
/* Entire Page View */
.contact-section {
  /* background:palevioletred; */
  /* min-height:100vh; */
}

/* Header Img */
/* .contact-banner {
  margin-bottom: 5em;
  width: 100vw;
} */
/* contact div container */
.contact-div {
  /* display: flex;
  justify-content: space-evenly; */
}
/* Contact Form */
/* .left-contact {
  padding: 4em;
  background: rgba(255,182,193, .15 );
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align:center;
} */
/* Contact Icons */
.right-contact{
  /* border: solid; */
  text-align:center;
  /* display: flex;
  flex-direction: column; */
  padding: 8em;
  background: rgba(255,182,193, .15 );
  border-radius: .5em;
}

/* Form */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form Input & Label */
input, textarea {
  border: none;
  border-radius: .25em;
  /* background:pink; */
  background: #f3e9ed;
  padding: .5em;
  margin: .5em;
}

label {
  font-weight: bold;
}

button {
  color:white;
  background-color: black;
  border: none;
  padding: 1em;
  margin:1em;
  border-radius: .5em;
  font-size: 1em;
}

/* Icons */
.contact-icon {
  font-size: 3em;
  color:black;
  padding: .5em;
}

/* Arrow Back To Top */
.arrow-to-home{
  text-align:center;
  margin-top: 10em;
}
  
.home-arrow{
  color:black;
  font-size:3em;
}




footer {
  text-align: center;
}

